.footer {
  background-color: #2c2c2c;
  color: $whiteColor;
  // .footer__container
  &__container {
    display: flex;
    @include adaptiveValue('gap', 90, 30);
    @include adaptiveValue('padding-top', 60, 30);
    @include adaptiveValue('padding-bottom', 60, 10);
    @media (max-width: $mobileSmall) {
      flex-direction: column;
    }
  }
  // .footer__logo
  &__logo {
  }
  // .footer__spollers
  &__spollers {
    flex: 1 1 auto;
  }
  // .footer__copy
  &__copy {
    color: rgba(200, 200, 200, 0.5);
    font-family: 'Open Sans';
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    @include adaptiveValue('padding-top', 24, 12);
    @include adaptiveValue('padding-bottom', 24, 12);
  }
}
.nav-footer {
  // .nav-footer__list
  &__list {
    display: grid;
    gap: rem(16);
    @media (max-width: $mobile) {
      padding-bottom: rem(30);
    }
  }
  // .nav-footer__item
  &__item {
  }
  // .nav-footer__link
  &__link {
    line-height: 171.429%;
    letter-spacing: 0.42px;
    font-weight: 500;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 0;
      height: rem(1);
      top: 0;
      left: 0;
      background-color: $whiteColor;

      transition: all 0.3s;
    }
    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: rem(1);
      bottom: 0;
      right: 0;
      background-color: $whiteColor;

      transition: all 0.3s;
    }
    @media (any-hover: hover) {
      &:hover {
        &::before {
          width: 100%;
        }
        &::after {
          width: 100%;
        }
      }
    }
  }
}
.contacts-footer {
  display: grid;
  gap: rem(30);
  // .contacts-footer__item
  &__item {
    display: grid;
    grid-template-columns: rem(20) 1fr;
    gap: rem(14);
    @media (any-hover: hover) {
      &:hover {
        &::before {
          -webkit-animation: vibrate-1 1.4s linear infinite both;
          animation: vibrate-1 1.4s linear infinite both;
        }
      }
    }
    @media (max-width: $mobile) {
      padding-bottom: rem(30);
    }
  }
  // .contacts-footer__link
  &__link {
    font-weight: 500;
    letter-spacing: 0.42px;
    display: inline-flex;
    position: relative;
  }
}

.socials-footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: rem(40);
  // .socials-footer__item
  &__item {
    @media (max-width: $mobile) {
      padding-bottom: rem(30);
    }
  }
  // .socials-footer__link
  &__link {
    &::before {
      font-size: rem(20);
    }
    @media (any-hover: hover) {
      &:hover {
        &::before {
          -webkit-animation: vibrate-1 1.4s linear infinite both;
          animation: vibrate-1 1.4s linear infinite both;
        }
      }
    }
  }
}

//====================================================================================================
